################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Borb.slnx/FileContentIndex/23992dd4-6e73-4306-aeff-432d913a1e48.vsidx
/.vs/Borb.slnx/FileContentIndex/502171e6-5266-4834-b031-9138028415e2.vsidx
