################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Borb.slnx/FileContentIndex/23992dd4-6e73-4306-aeff-432d913a1e48.vsidx
/.vs/Borb.slnx/FileContentIndex/502171e6-5266-4834-b031-9138028415e2.vsidx
/.vs/Borb.slnx/config
bin/
obj/
.vs/
*.user
*.suo
appsettings.Development.json
node_modules/
*.log
/.vs/slnx.sqlite
./obj
.\obj
/Borb/obj/Debug/net10.0/Borb.AssemblyInfo.cs
/Borb/obj/Debug/net10.0/Borb.AssemblyInfoInputs.cache
/src/obj/Debug/net10.0/rpswa.dswa.cache.json
/src/obj/Debug/net10.0/src.AssemblyInfo.cs
/src/obj/Debug/net10.0/src.AssemblyInfoInputs.cache
/src/obj/Debug/net10.0/src.assets.cache
/src/obj/project.assets.json
/src/obj/project.nuget.cache
/src/obj/src.csproj.nuget.dgspec.json
/.vs/Borb/CopilotIndices/18.6.39495.22055/SemanticSymbols.db
/.vs/Borb/CopilotIndices/18.6.39495.22055/SemanticSymbols.db-wal
/src/appsettings.json
/.vs/Borb/CopilotIndices/18.6.39495.22055/CodeChunks.db
/.vs/Borb/CopilotIndices/18.6.39495.22055/CodeChunks.db-wal
/.vs/Borb/CopilotIndices/18.6.39495.22055/SemanticSymbols.db
/.vs/Borb/CopilotIndices/18.6.39495.22055/SemanticSymbols.db-wal
/.vs/Borb.slnx
/.vs/CopilotSnapshots/3CCEABF498BB704F96DACFF269EF9536
/.vs/slnx.sqlite
/.vs/slnx.sqlite-journal
/Borb/bin/Debug/net10.0
/Borb/obj
/src/bin/Debug/net10.0
/src/obj/Debug/net10.0
/src/obj/Release/net10.0
/.postman/resources.yaml
/.vs/Borb/CopilotIndices/18.6.39495.22055/CodeChunks.db-shm
/.vs/Borb/CopilotIndices/18.6.39495.22055/SemanticSymbols.db-shm
/postman/globals/workspace.globals.yaml
/Borb/obj/Debug/net10.0/Borb.assets.cache
/Borb/obj/Debug/net10.0/Aspire/references/src.ProjectMetadata.g.cs
/Borb/obj/Debug/net10.0/Aspire/references/_AppHost.ProjectMetadata.g.cs
/Borb/obj/Debug/net10.0/Borb.GeneratedMSBuildEditorConfig.editorconfig
/Borb/obj/Debug/net10.0/Borb.csproj.AssemblyReference.cache
